---
import BaseLayout from "@layouts/BaseLayout.astro";
import ItemCard from "@components/itemCard.astro";
import Footer from "@components/footer.astro";
import BackTop from "@components/backTop.astro";
import Side from "@components/side.astro";
import { getCollection } from "astro:content";
export async function getStaticPaths({ paginate }) {
  const blogEntries = await getCollection("blog", ({ data }) => {
    // 如果是不是草稿就显示
    return data.draft === false;
  });

  const posts = blogEntries.sort((a, b) => {
    const dateA = new Date(a.data.pubDate);
    const dateB = new Date(b.data.pubDate);
    return dateB - dateA;
  });

  return paginate(posts, { pageSize: 5 });
}
const { page } = Astro.props;
const title = `文章第${page.currentPage}页`;
const description = `ch_kai的所有的文章`
---

<BaseLayout title={title} description={description}>
  <h1>第{page.currentPage}页/共{page.lastPage}页</h1>
  <ul class="blog_itemCard">
    {
      page.data.map((post) => (
        <ItemCard
          slug={post.slug}
          title={post.data.title}
          description={post.data.description}
          image={post.data.image}
          pubDate={post.data.pubDate}
        />
      ))
    }
    <div class="pageSize">
      {page.url.prev ? <a href={page.url.prev}>上一页</a> : null}
      {page.url.next ? <a href={page.url.next}>下一页</a> : null}
    </div>
  </ul>

  <footer>
    <Footer />
  </footer>
  <Side />
  <BackTop />
</BaseLayout>

<style>
  h1 {
    text-align: center;
    margin-block-end: 0.9375rem;
  }
  footer {
    margin-block-start: 3.125rem;
  }
  .blog_itemCard {
    width: min(50ch, 90vw);
    margin: 0 auto;
  }
</style>
